/* peatio exchange site vars
-------------------------------------------------------------- */

$brand-width: 140px;
$funds-panel-height: 750px;

$footer-bg: $brand-primary;
$footer-height: 100px;
$footer-color: gainsboro;
$footer-border: #29333c;

$content-split: #ddd;

$btn-gutter-width: 20px;
$text-gutter-width: 5px;
$icon-gutter-width: 5px;

$up-bg: rgba(89, 132, 50, 1.0);
$down-bg: rgba(159, 49, 27, 1.0);
