<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row footer-link">
      <ul>
        <li>
          <a href="<%= root_path %>">Home</a>
        </li>
        <li>
          <a href="<%= fees_path %>">Fee's</a>
        </li>
        <li>
          <a href="<%= aboutus_path %>">About Us</a>
        </li>
        <li>
          <a href="<%= terms_path %>">Terms</a>
        </li>
      </ul>
    </div>
    <!-- BEGIN COPYRIGHT -->
    <div class="row footer-copyright">
      © 2016 Crycen. All rights reserved.
    </div>
    <!-- END COPYRIGHT -->
  </div>
</div>
<!-- END FOOTER -->
