
.terms-panel {
    padding-bottom: 45px;
    margin-bottom: 0px;
 }

.terms-panel .panel-heading {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    background-color: #212C3D;
    color: #ffffff;
}

.terms-panel .panel-heading i {
    padding-right: 4px;
}

.terms-panel .panel-body {
    padding: 0px;
}

.terms-section {
    text-align: center;

}

.terms-section .terms-title {
    padding: 35px 12px 15px 12px;
    margin-bottom: 10px;
    border-bottom: solid 1px #efefef;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.terms-body p {
    font-size: 13px;
    color: #626262;
}

.terms-subtitle {
    display: block;
    margin-top: 10px;
    margin-left: 4px;
    font-weight: bold;
}

#accordion .panel {
    border: none;
}

#accordion .panel + .panel {
    margin-top: 13px;
}

#accordion .panel .panel-heading {
    padding: 0;
    background: #f8f8f8;
    border: 1px solid #ededed;
}

#accordion .panel .panel-body {
    font-size: 13px;
    color: #626262;
}

#accordion .panel .panel-heading .accordion-toggle {
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    padding: 12px;
    text-transform: uppercase;
    color: #333333;
}

#accordion .accordion-toggle:after {
    /* symbol for "opening" panels */
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f106"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #1a1919; /* adjust as needed */
    font-size: 18px;
}

#accordion .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f107"; /* adjust as needed, taken from bootstrap.css */
}

/*==============Tablet Part===========*/
@media (min-width: 768px) {
    .terms-panel {
        padding-bottom: 45px;
        margin-bottom: 0px;
    }

    .terms-panel .panel-heading {
        font-size: 22px;
        text-align: left;
        text-transform: uppercase;
        background-color: #212C3D;
        color: #ffffff;
        text-align: center;
    }

    .terms-panel .panel-heading i {
        padding-right: 19px;
    }

    .terms-panel .panel-body {
        padding: 0px;
    }

    .terms-section {
        text-align: center;

    }

    .terms-section .terms-title {
        padding: 35px 12px 15px 12px;
        margin-bottom: 10px;
        border-bottom: solid 1px #efefef;
        color: #333333;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .terms-body p {
        font-size: 16px;
        color: #626262;
    }

    .terms-subtitle {
        display: block;
        margin-top: 10px;
        margin-left: 4px;
        font-weight: bold;
        font-size: 17px;
    }

    #accordion .panel {
        border: none;

    }

    #accordion .panel + .panel {
        margin-top: 13px;
    }

    #accordion .panel .panel-heading {
        padding: 0;
        background: #f8f8f8;
        border: 1px solid #ededed;
    }

    #accordion .panel .panel-body {
        font-size: 16px;
        color: #626262;
    }

    #accordion .panel .panel-heading .accordion-toggle {
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        padding: 12px;
        text-transform: uppercase;
        color: #333333;
        text-align: left;
    }

    #accordion .accordion-toggle:after {
        /* symbol for "opening" panels */
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f106"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: #1a1919; /* adjust as needed */
        font-size: 22px;
    }

    #accordion .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f107"; /* adjust as needed, taken from bootstrap.css */
    }

}