<div class="section-title text-center"><h1><%= "About Us" %></h1></div>



<h3 class="text-center"><span class="underline_title">Our Mission</span></h3>

<div class='row'>
  <div class="col-xs-20 col-xs-offset-2">
    <p>
      We believe Crypto Currency and block chain technology are the future and we are the exchange to take this space mainstream . We are here for the professional with expert tools however we will focus on the novice, the first time trader, so that Crycen will be the premier exchange to bring cryptocurrency to the masses. We have a strong team of professional developers that is constantly evolving and is here to support you. 
      </p>

  </div>
</div>

<br/>
<br/>
<br/>


<br/>
<br/>
<br/>

<h3 class="text-center"><span class="underline_title">Our Team</span></h3>

<div class='row'>
    <div class="col-xs-20 col-xs-offset-2">
        <div class="col-md-11 col-xs-24">
          <img src="/aivaras.jpg" class="img-rounded center-block personal_photo">
          <h1 class="section-title text-center">Aivaras</h1>
          <h6 class="text-center">Acting CEO & Co-founder</h6>
          <hr class="form-control-static"/>
          <p>
			Web and mobile projects manager with 8 years of experience. Broad knowledge of computer sciences, common troubleshooting, cryptocurrencies and gadgets.
			Started IT career with burning first computer up in flames when was only 8 years old.
			Love travelling, on the edge technologies and circus. Hobby: organizing variuos open air events and festivals.          
		  </p>
        </div>
        <div class="col-md-11 col-xs-24 col-md-offset-2">
          <img src="/vlad.jpg" class="img-rounded center-block personal_photo">
          <h1 class="section-title text-center">Vlad</h1>
          <h6 class="text-center">System Administrator</h6>
          <hr class="form-control-static"/>
          <p>
			Server infrastructure architect, virtualization/cloud expert, network security specialist. Unix/Linux system administrator with 17 years of experience. MSC in Applied Math.
			Building scalable/HA/failsafe infrastructures is my primary responsibility.
			[ rest you can take from my LinkedIn profile page :) ]
          </p>

        </div>
        <div class="col-md-11 col-xs-24" style="clear: both;">
          <img src="/luis.jpg" class="img-rounded center-block personal_photo">
          <h1 class="section-title text-center">Luis</h1>
          <h6 class="text-center">Senior Ruby on Rails developer</h6>
          <hr class="form-control-static"/>
          <p>
			I'm a full-stack Ruby on Rails developer with Agile approach and pair programming enthusiast.I love developing applications “the Rails way”.
			I’ve created a number of complex systems using Ruby on Rails including e-commerce sites, inventory management systems, scheduling systems, forum applications, internal organizational systems, and order fulfillment systems.
          </p>

        </div>
        <div class="col-md-11 col-xs-24 col-md-offset-2">
          <img src="/christian.jpg" class="img-rounded center-block personal_photo">
          <h1 class="section-title text-center">Christian</h1>
          <h6 class="text-center">Senior Ruby on Rails developer</h6>
          <hr class="form-control-static"/>
          <p>
            I am an expert Ruby and Rails developer with more than 6 years of successful projects with Ruby on Rails versions 2.3 through 4.x.
			Rails 3 and 4, Ruby 1.9 and 2+, javascript, haml, and bootstrap are all within my core competencies.
			I enjoy working on everything from ecommerce to line of business applications and I specialize in identifying and fixing issues.
          </p>

        </div>
    </div>
</div>
<br/>

