<div class="section-title text-center"><h1><%= "Terms and Conditions" %></h1></div>

<div class='row'>
  <div class="col-xs-20 col-xs-offset-2">
    <p>
      BY ACCESSING OR USING CRYCEN.COM AND/OR MAKING USE OF CRYCEN INC. SERVICES, YOU (“USER”) AGREE TO BE BOUND BY THESE TERMS OF SERVICE AND ALL TERMS INCORPORATED BY REFERENCE. THESE TERMS ARE CUMULATIVE WITH, AND NOT PRECLUSIVE OF, ANY OTHER AGREEMENT USER MAY ALREADY BE PARTY WITH CRYCEN. IF USER DOES NOT AGREE TO THESE TERMS THEN USER SHALL NOT BE AN AUTHORIZED USER AND WILL NOT BE PERMITTED TO USE ANY RESOURCE OR SERVICE PROVIDED BY CRYCEN; SUCH USER MUST TERMINATE THEIR SESSION IMMEDIATELY.
      <br />
      <br />
      These Terms of Service govern directly the User’s access to, and use of, this website and any additional services as may be provided by CRYCEN Inc.(hereafter “CRYCEN”) . CRYCEN reserves the right to change or modify these terms at any time in its sole direction. Notice of such changes shall be posted a reasonable time before they become effective, and the newly modified terms shall be in full force on the date noted in the “Last Revised” line at the head of this page. The most current version of the Terms can always be reviewed by clicking on the “Terms” hypertext on the main web page. User’s continued use of the services confirms User’s acceptance of any revised Terms. User waives any right User may have to receive specific notice of such changes or modifications. CRYCEN reserves the right to change the layout of this website at any time, including the discontinuation of certain features. By using CRYCEN, User agrees that CRYCEN is not liable for any modification, suspension, or discontinuance of the Website or any part thereof.
    </p>

    <h5>1.1 Eligibility of User</h5>
    <p>
      By accessing CRYCEN.COM the User warrants that User has not been suspended or removed from CRYCEN.COM previously for any activity deemed inappropriate by CRYCEN or its agents. User also warrants that User is not: A) living in, under the control off, or a national resident of any country to which the United States has embargoed goods or services; B) identified as a “Specially Designated National”; C) placed on the Commerce Department’s Denied Persons List; D) prohibited by the laws of User’s country or the order of a court of relevant jurisdiction from accessing CRYCEN or other similar sites. Additionally, User warrants that: 1) User has attained the Age of Majority in the jurisdiction from which they are operating; 2) User is accessing CRYCEN and/or its services on their own behalf or as a valid and authorized agent of a similarly eligible 3rd party; 3) and that User is accessing CRYCEN and its services solely for licit purposes which would be and are acceptable to CRYCEN. CRYCEN reserves the right to prohibit the use of all or parts its website and services in certain states, territories, or specific jurisdictions. CRYCEN reserves the right to request legally sufficient verification of the previously mentioned Eligibility criteria; the absence of CRYCEN’s request for such verification shall not be considered tacit or explicit consent for an ineligible User  to access or continue to utilize any of CRYCEN’s services nor shall it prohibit CRYCEN from making such a request in the future.  CRYCEN reserves the right to, in its sole discretion, limit the number of accounts that one may hold, acquire, or activate on  their behalf or the behalf of another.
    </p>
    ​
    <h5>1.2. Registration, Account Information, and Security of Account</h5>
    <p>
      To engage in any exchanges through CRYCEN an eligible User must create a CRYCEN account and complete the registration process. By creating a CRYCEN account, By using CRYCEN, User agrees to: I) complete truthfully all required fields and answer truthfully all required queries; II) update User’s profile and account in a timely manner whenever a material change has occurred; III) maintain the confidentiality of User’s login credentials; IV) restrict 3rd party access to User’s account, including access to User’s hardware during periods when User is actively logged into CRYCEN services; V) promptly notify CRYCEN if User should discover a security breach relevant to CRYCEN, within the User’s account or otherwise. User accepts sole responsibility for any activities that occur within their account, whether the parties involved are authorized or not.
      <br />
      <br />
      User accepts that CRYCEN reserves the right to suspend, freeze, or terminate any Account for cause without liability to User. Cause shall be determined solely by CRYCEN, in its reasonable discretion, and includes instances in which: A) CRYCEN determines the ownership of funds, or the right to access or control funds, within User’s account is disputed; B) CRYCEN detects, or reasonably suspects, unauthorized or unlawful or irregular account activity (including, but not limited to, transactions prohibited under the Bank Secrecy Act [31 U.S.C. §5311- §5332], its implementing regulations [31 CFR Chapter X ], or the economic and trade sanctions imposed by the Department  of Treasury’s Office of Foreign Asset Control [31 C.F.R. Chapter V ]); C) User has committed, or has allegedly committed, a fraudulent act, or if a claim has been made upon CRYCEN because of User’s actions; D) CRYCEN is directed, ordered, or requested to do so as the result of legal process, regardless of jurisdiction or service.
      ​<br />
      <br />
      A suspension or freeze on a User’s account will continue until the allegations are dropped or the dispute/problem is settled to the satisfaction of CRYCEN. By using CRYCEN, User agrees that CRYCEN shall not be  liable for any delays, refused or reversed orders, or items returned unpaid as a result of CRYCEN’s actions under this section. By using CRYCEN, User agrees that CRYCEN will not be required to pay any interest on funds in accounts which are frozen, suspended, or terminated.
      <br />
      <br />
    </p>

    <h5>1.3. Acceptable Use</h5>
    <p>
      By using CRYCEN, User agrees that their usage will not violate any law, contract, intellectual property or other 3rd party right, or include  tortious behavior or activities, and that User is solely responsible for User’s conduct while using CRYCEN and/or its services. By using CRYCEN, User agrees to not engage in certain activities including, but not limited to, those listed in this section. By using CRYCEN, User agrees to not:
      <br/>
      <br/>
      Use CRYCEN services to pay for, support, or otherwise engage in any illegal activities;
      <br />
      Manipulate markets by any method, so as to not inhibit the quality of the service to other users;
      <br />
      Use, develop, or publish third party software to algorithmically trade Virtual Currency on CRYCEN;
      <br />
      Publish information, anonymously or otherwise, that outlines techniques for market manipulation;
      <br />
      Slander or defame other Users, on the website;
      <br />
      Solicit, or attempt to solicit, other users on the website to engage in any unethical activity;
      <br />
      Distribute or provide untruthful information on, through, or about this website, CRYCEN or its services.
      <br />
      Sell or purchase account information, whether belonging to User or another;
      <br />
      Attempt to circumvent any content filtering techniques employed by CRYCEN;
      <br />
      SPAM users for any reason.
      ​<br />
      <br />
      Any engagement in  these activities will result in an immediate Permanent Ban,  barring User from ever using the CRYCEN or its services  in accordance with Section 1.
      <br />
      <br />
    </p>

    <h5>2. Privacy Policy</h5>

    <p>
      Please refer to its Privacy Policy for information about how CRYCEN collects, uses, and shares any information on the website.
    </p>

    <h5>3. Basic Trading Logistics</h5>
    <p>
      When  an order is submitted via the services, User authorizes CRYCEN to execute a transaction in accord with such order on a market basis; User acknowledges that such execution will be subject to the relevant fees as found at https://CRYCEN.com/fees . User explicitly agrees that: A) no communication provided by CRYCEN is considered financial or professional advice (Section  4.1); C) no fiduciary or professional relationship is, or will be, created between CRYCEN and User by any communication or fulfillment of any order; C) CRYCEN is not, and not offer or consent to be, User’s broker, agent, advisor, or fiduciary in any capacity.
      <br />
      <br />
      CRYCEN provides, as a courtesy to mitigate User risk, a summary that details User’s proposed transaction. Such summary will appear before the order is executed to provide User the opportunity confirm the details of User’s proposition. User accepts sole responsibility for the details of their order, whether or not a summary page is provided, and CRYCEN is entitled to rely on any order as submitted, with no liability for inaccuracies resulting from User or User error.
      ​<br />
      <br />
      Sample transaction summary: Ex. Sell: 10 BTC at 359.41. Fee: .002 BTC.
      ​<br />
      <br />
      An extension fee schedule is available at https://CRYCEN.com/fees.
    </p>
    <h5>4. Concise Risk</h5>
    <p>
      CRYCEN is an internet-based trading system. User accepts that there are risks involved including, but not limited to, the failure of software, hardware, or internet connections. By using CRYCEN, User agrees that CRYCEN shall not be responsible for disruptions that User may experience when transacting with CRYCEN or its services, however caused. User acknowledges and accepts that CRYCEN is not liable for fluctuations in Virtual Currency, including those fluctuations which occur during periods of disruption. For  more information refer to Sections 5.6 And 8.
    </p>

    <h5>4.1 Attacks on services and Currency</h5>
    <p>
      User accepts that in the event of a Virtual Currency crisis, financial crisis, or Force Majeure (Section 17), CRYCEN reserves the right to suspend trading and/or prevent users from completing actions (including, but not limited to, closing open positions) via its services; limitations imposed on trading may effect some or all currencies available through CRYCEN’s services, as determined by CRYCEN in its sole discretion. By using CRYCEN, User agrees that CRYCEN will not be liable for any losses suffered by User from actions taken or limitations imposed by CRYCEN under this section. User acknowledges and accepts that when, or if, transactions resume,  the prevailing market rates may differ from the rates available before the adverse event disrupted trading; User accepts sole responsibility for losses that result from orders affected by such difference.
    </p>

    <h5>5. Selected Agreements in CRYCEN Use</h5>
    <p>
      By using CRYCEN, User agrees that their use of  CRYCEN and its services makes User obligated to cooperate with certain requests and in certain situations that may arise. The nature of such request and a description of such situation is not specifically definable, but will in almost all cases be limited to business involving User’s activities with CRYCEN and/or its services. CRYCEN is a Virtual Currency (a relatively liquid security) trading platform, meaning that fluctuations occur not unlike other publicly traded securities. A Virtual Currency is subject to similar onera, including, but not limited to: trading restrictions, taxes, and a complete alleviation of responsibility of User loss. User accepts that there may be times where CRYCEN requires User to confirm personal information during User’s session to mitigate risks involved with User’s activities.
    </p>

    <h5>5.1 On Selected Trading Restrictions and Execution of Orders</h5>
    <p>
      CRYCEN, in its sole discretion, may refuse any exchange transaction or exchange bid submitted via the services, impose limits on the exchange amount permitted via the services or impose any other reasonably necessary conditions upon User’s use of the services without prior notice. CRYCEN will use reasonable methods to execute an order in good  time but will not be liable for orders that are slow, delayed or incapable for completion. User acknowledges that CRYCEN’s acceptance of an order does not constitute a guarantee that it will be possible to execute such an order or that the execution will be identical to User’s initial instructions.
    </p>
    <h5>5.2 On Taxes</h5>
    <p>
      It is User’s responsibility to determine what, if any, taxes apply to the exchange transactions User completes via the services. It is User’s responsibility to report and to remit the correct taxes to the appropriate tax authority. CRYCEN cooperates with all tax regulations but shall not be responsible for any taxes burdens which User may incur during its activities with CRYCEN and/or its services.
    </p>
    <h5>5.3 On Reserving the Rights to Cancel Submitted Trades</h5>
    <p>
      User accepts that an order may be canceled only if  their cancellation occurs a sufficient time before the transaction is executed. CRYCEN reserves the right to refuse any cancellation request associated with a market order once an order is submitted. CRYCEN  shall not be liable for refusing a cancellation or refusing to rescind an executed transaction.
    </p>

    <h5>5.4 On Accuracy of Submitted Information and Access Requirements</h5>
    <p>
      As a security measure CRYCEN may, from time to time, ask User to validate their information before allowing them proceed. User must provide truthful and adequate responses to such requests for validation or they may be prohibited from continuing their session.
    </p>

    <h5>5.5 On Absence of Advice and Responsibility of User to Notify CRYCEN of Advising Activity</h5>
    <p>
        CRYCEN operates merely on an execution basis and does not offer advice on the merit of any transaction, nor on its possible financial or tax-related consequences. CRYCEN will not disclose any proprietary information related to the operations of any selected Virtual Currency, regardless of its presence on the CRYCEN exchange. CRYCEN does not sanction, and shall not be held responsible for, any information published under the CRYCEN name that advocates the purchase or sale of any security or Virtual Currency. By using CRYCEN, User agrees to inform CRYCEN  of any advisory publication that discloses such proprietary information or dispenses advice that purportedly comes from CRYCEN or its agents, whether or not related to CRYCEN, its services,  exchange,  or Virtual Currency.
    </p>

    <h5>5.6 Market Availability of Virtual Currency</h5>
    <p>
      CRYCEN provides an exchange platform for several different Virtual Currencies. CRYCEN may freeze or resume trading for a Virtual Currency in its sole discretion. If a market for a Virtual Currency is closed, any open orders that User may have for such Virtual Currency will be placed back into User’s account. CRYCEN  agrees to remove any Virtual Currency in accord with a Cease-and-Desist order issued by a court of relevant jurisdiction . If a  Virtual Currency is closed on CRYCEN, User will have up to one month to transfer the amounts remaining in User’s CRYCEN Account to User’s External Virtual Currency Address.  User accepts that CRYCEN is not liable for any loss or expense incurred by the User for transfers necessitated under this section. User also accepts that CRYCEN shall not be liable for losses related to stoppages or the delisting of a Virtual Currency.
    </p>

    <h5>5.7 On Unclaimed Virtual Currency as Accounts Abandoned by Negligence, Ignorance, or Death</h5>
    <p>
      If CRYCEN is unable to return User’s Virtual Currency to User’s designated External Virtual Currency Address after a period of inactivity, then CRYCEN may be required to report and remit such Virtual Currency in accordance with applicable unclaimed property laws.
    </p>

    <h5>6. Basic CRYCEN Account Information Including Transfer of Funds plus “Loading”</h5>
    <p>
      In order to complete an exchange via the services, User must first “load”  the Virtual Currency into User’s Hosted Wallet. User may be required to verify (see Section 5.4) User’s ownership of the External Virtual Currency Address that User intends to be associated with their account; once verified, User will be able to “load”  Virtual Currency into User’s Hosted Wallet. User may send an amount of Virtual Currency, up to the total of Virtual Currency in User’s CRYCEN Account, to an outside source. User may be limited if they have a minimum account balance set  to preserve User’s positions. User is  responsible for the accuracy of the External Virtual Currency Address that User provides  and CRYCEN is not responsible for any inaccurate transactions resulting from User error. CRYCEN shall not be liable for losses related to the  sending of Virtual Currency from User’s Hosted Wallet to an incorrect External Virtual Currency Address if that address matches the User provided address.
    </p>

    <h5>7. Communication with Users</h5>
    <p>
      By using CRYCEN, User consents to receive notices that may include receipts, updates, documents, agreements or disclosures. By using CRYCEN, User agrees to receive such notices through any effective medium; any notice sent to the contact resources that User submits during the registration process is per se acceptable, and noticed sent to such are considered effectively delivered.  User acknowledges that there are clear hardware requirements for communicating with CRYCEN and it is User’s responsibility to ensure that their access to the internet is through a connected device with cookies enabled and 128-bit encryption. CRYCEN highly encourages the saving and filing of all communication; CRYCEN shall not be liable for User’s failure to maintain a record of prior notices..
    </p>

    <h5>8. Virtual Currency Attacks</h5>
    <p>
      If there is a confirmed attack on virtual currency, CRYCEN will halt trading, deposits, and withdrawals for the attacked currency. If its analysts determine beyond a reasonable doubt that the attack is responsible for the rapid devaluation of a currency, CRYCEN may limit future trading of the coin and reserves the right to halt all trading for the currency. Any losses related to the attack are the sole responsibility of the User; CRYCEN shall not be liable for transactions which occurred before the official confirmation of any such attack.
    </p>

    <h5>10. Indemnity:</h5>
    <p>
      By using CRYCEN By using CRYCEN, User agrees to defend, indemnify, and hold harmless CRYCEN, its service providers, affiliates, independent contractors, directors, agents, or members  from any claim, demand, action, damage, loss, cost or expense, including but not limited to reasonable attorneys’ fees, arising out or relating to A) User’s use of CRYCEN or its services; B) User provided feedback or information; C) User’s violation of these Terms; or D) User’s violation of the rights of any other person or entity. Where User is obligated to indemnify and defend  CRYCEN, CRYCEN reserves the right to control any action or proceeding, including the determination of whether to settle and on what terms.
    </p>

    <h5>11. Disclaimer of Warranties:</h5>
    <p>
      CRYCEN PROVIDES NO GUARANTEE AS TO THE PERFORMANCE, OR THE UNINTERRUPTED AVAILABILITY, OF THE WEBSITE OR ITS ATTENDANT MATERIALS (SEE SECTION 4).  THE WEBSITE AND CRYCEN MATERIALS ARE PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. CRYCEN DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE WEBSITE AND THE INFORMATION, CONTENT, AND  MATERIALS CONTAINED THEREIN. CRYCEN DOES NOT REPRESENT OR WARRANT THAT CRYCEN MATERIALS OR THE WEBSITE ARE 100% ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE. CRYCEN ENDEAVORS TO MAKE THE WEBSITE SAFE, HOWEVER CRYCEN CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE WEBSITE OR ITS SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; USER IS RESPONSIBLE FOR MAINTAINING THEIR OWN SECURITY BY UTILIZING SAFE BROWSING PRACTICES AND/OR USING INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DEBUG/DISINFECT ANY ERRORS OR VIRUSES FROM POSSIBLE SOURCES OF CORRUPTION. CRYCEN IS NOT RESPONSIBLE FOR THE VALUE OF ANY VIRTUAL CURRENCY AND MAKES NO REPRESENTATION OR WARRANTY AS TO THE VALUE, SUITABILITY OR COMPARATIVE QUALITY OF ANY VIRTUAL CURRENCY OR WEBSITE AVAILABLE THROUGH CRYCEN, ITS WEBSITE OR SERVICES.
      <br />
      <br />
      CRYCEN reserves the right to change any and all content contained in the Website at any time without notice. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by CRYCEN.
      <br />
      <br />
      SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED TERMS IN CONTRACTS WITH CONSUMERS; SOME OR ALL OF THE DISCLAIMERS IN THIS SECTION MAY NOT APPLY.
    </p>  ​

    <h5>12. Limitation of Liability:</h5>
    <p>
      IN NO EVENT WILL CRYCEN, ITS DIRECTORS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR OTHER DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED, TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION FOR CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED TO THE USE OF OR INABILITY TO USE THE WEBSITE, CRYCEN MATERIALS OR CONTENT OR MATERIALS CONTAINED IN OR ACCESSED THROUGH THE WEBSITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY USER ON ANY INFORMATION OBTAINED FROM CRYCEN, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO CRYCEN’S RECORDS, PROGRAMS OR WEBSITE. IN NO EVENT WILL THE AGGREGATE LIABILITY OF CRYCEN, WHETHER IN AN ACTION FOR CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER CAUSE, ARISING OUT OF OR RELATING TO THE USE OF OR INABILITY TO USE THE WEBSITE EXCEED ANY COMPENSATION USER PAID, IF ANY, TO CRYCEN FOR ACCESS TO OR USE OF THE WEBSITE WITHIN A REASONABLE TIME PREVIOUS, NOT EXCEEDING ONE (1) YEAR.
      ​<br />
      <br />
      SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY IN CONTRACTS WITH CONSUMERS; SOME OR ALL OF THESE LIMITATIONS OF LIABILITY MAY NOT APPLY.
    </p>

    <h5>13. Disputes with CRYCEN</h5>
    <p>
      By using CRYCEN, User agrees that the manner in which they can seek relief from CRYCEN is limited, and further agrees that any dispute, including those for personal injury,  shall be settled informally or submitted to arbitration in the appropriate jurisdiction. User and CRYCEN are not required to arbitrate any dispute in which either party seeks equitable and/or other relief from the alleged unlawful use of copyrights, trademarks, trade names, trade secrets, patents, or logos. User acknowledges and accepts that arbitration prevents User from suing in court or from having a jury Trial.
      <br />
      By using CRYCEN, User agrees A) to attempt informal resolution prior to any demand for arbitration; and  B) that arbitration will be conducted by a single arbitrator in accordance with the relevant rules of arbitration then in effect. The  arbitrator has the authority to grant any remedy that would otherwise be available in court, except those involving class procedures and remedies. CRYCEN and User agree that (regardless of the cause of action, jurisdiction or venue) CRYCEN and User will not commence against the other a class action, class arbitration, or other representative action or proceeding.
    </p>

    <h5>14. Governing Law</h5>
    <p>  ​
      CRYCEN is based in Republic of Belize  and is subject to those laws. CRYCEN makes no representations or warranties that its services or materials are appropriate or available for use in other locations. User assumes full responsibility and  risk for their own use and User is responsible for their compliance with all applicable laws, rules, and regulations. User’s access to and use of the services and CRYCEN’s materials may also be subject to local, state, national, or international laws. To the extent that Section 13. Arbitration does not apply, User agrees that all disputes wit CRYCEN which cannot be settled through informal negotiation will be resolved in a court of relevant jurisdiction chosen by CRYCEN, where possible, or in a location not prejudicial to CRYCEN, its agents or interests.
    </p>  ​

    <h5>15. Termination and Suspension</h5>
    <p>  ​
      Notwithstanding any of these Terms, CRYCEN reserves the right, without notice and in its sole discretion, to terminate or suspend User’s right to use the CRYCEN, and to block or prevent User’s future access to and use of the website (Section 1.1). CRYCEN may, in its discretion, merely limit or suspend User’s access to a portion of services rather than all services. Further, CRYCEN reserves the right to suspend or terminate accounts if they are associated with malicious activity or if a significant event (i.e. Hacking, DDOS, Force Majeure, Artificially caused change in value) occurs such that CRYCEN deems the appropriate response to be the termination and/or suspension of User’s account. In the event of a termination, CRYCEN will make a reasonable attempt to return any available Virtual Currency to User. CRYCEN may at any time, in its sole discretion and without liability to User, temporarily or permanently modify or discontinue any portion of its services, with or without prior notice.
    </p>  ​

    <h5>16. Feedback / Questions</h5>
    <p>  ​
      Questions and Feedback may be directed to support@CRYCEN.com.
    </p>

    <h5>17. Force Majeure</h5>
    <p>  ​
      CRYCEN is neither responsible nor liable for events beyond human control. CRYCEN shall not be liable for any loss or damage arising from any event beyond its ability control, including, but not limited, to flood, extraordinary weather conditions, earthquake, other act of God, fire, war, insurrection, riot, labor dispute, accident, action of government, the failure of infrastructure, communications and/or power failure, or equipment/software malfunctions (each being considered a “Force Majeure Event”). CRYCEN  shall not be liable for any inaccuracy, error, delay in, or omission of any  info
    </p>

  </div>
</div>


