#welcome-index {
  #sign-in-sign-up {
    .tabs-top.bordered .tab {
      margin-bottom: 30px;
    }
  }

  #market-statuses {
    .panel-body-head {
      table {
        margin-bottom: 0;
      }
    }

    .help-block {
      padding: 0 20px;
    }
  }
}
