
.footer .footer-link {
    font-size: 11px;
    text-align: center;
    padding:27px 0px 13px 0px;
}

.footer .footer-link ul {
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 0px;
}

.footer .footer-link li {
    padding: 0px 17px;
}

.footer .footer-copyright {
    text-align: center;
    font-size: 8px;
    color: #3a3a3a;
    margin-bottom: 13px;
}

/*==============Tablet Part===========*/
@media (min-width: 768px) {

    .footer .footer-link {
        font-size: 15px;
        text-align: center;
        padding: 40px 0px 32px 0px;
    }

    .footer .footer-link ul {
        text-transform: uppercase;
        margin-bottom: 0px;
        padding: 0px;
    }

    .footer .footer-link li {
        padding: 0px 40px;
    }

    .footer .footer-copyright {
        text-align: center;
        font-size: 10px;
        color: #3a3a3a;
        margin-bottom: 13px;
    }

}